/* CSS Document */

body, html {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background:url(../img/COMING.png)#000 no-repeat center center;
  background-size:cover;
  font-family: 'Oswald';
  font-weight: 300;
}

a:link {text-decoration: none; color: #fff; outline: none;}
a:visited {text-decoration: none; color: #fff; outline: none;}

/* ############################################################## */
/* ############################ Cool Sitebar #################### */
/* ############################################################## */

aside {
  width: 80px;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background: #444;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside ul li {
  height: 80px;
  margin: 0;
  list-style: 0;
  color:#dadada;
  border-bottom: 1px solid #555;
  transition: all 300ms;
  perspective: 800px;
}

aside ul li a {
  position: relative;
}

aside ul li a .lw_menu_icon {
  position: absolute;
  top:0;
  left: 0;
  width: 80px;
  height: 80px;
  z-index: 2;
  background: #444;
}

aside ul li a .lw_menu_icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 300ms cubic-bezier(0.42,0,0.2,1.69);
}

aside ul li a .lw_menu_name {
  position: absolute;
  left: 80px;
  top: 0;
  z-index: 1;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotate3d(0, 1, 0, 90deg);
  padding: 29px 35px 27px 35px;
  background-color: #444;
  border-left: 1px solid #555;
  transition: all 600ms cubic-bezier(0.42,0,0.2,1.69);
}

aside ul li:hover > a .lw_menu_name {
  transform: rotate3d(0, 1, 0, 0deg);
  background-color: #555;
}

aside ul li:hover > a .lw_menu_icon i {
  transform: scale(1.5) translate(-50%,-50%);
  color: #fff;
}

/* ############################################################## */
/* ############################ Social Bar ####################### */
/* ############################################################## */

section {width:800px; margin:150px auto 150px auto;}


#lw_social  { position:fixed; top:50%; right:0; margin:-147.5px 0 0 0; width:70px;}
#lw_social .lw_icon {width:70px;  height:70px; background:#444; position:relative; margin:0 0 5px 0};
#lw_social .lw_icon:last-child {margin:0;}
#lw_social .lw_icon span {width:70px; height:70px; position:absolute; top:0; right:-70px; z-index:1;}
#lw_social .lw_icon img {width:100%; position: absolute; top:0; left:0; z-index:3;}

.lw_facebook {background:#3b5997}
.lw_twitter {background:#33ccff}
.lw_youtube {background:#c4302b}
.lw_twitch {background:#6441a5}


/* ############################################################## */
/* ######################### Section Twitch ##################### */
/* ############################################################## */

#lw_twitch { width: 75%; height: 50%; position: absolute; margin: 0 auto; left:15%; top:15%;}
#lw_twitch_channel { width: 100%; height: 75%; border-style: hidden; margin-top: 10px;}
